@import url('https://fonts.cdnfonts.com/css/signate-grotesk');

body{
    color: #111;
    background: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Signate Grotesk', sans-serif;                                            
    font-size: 5rem;
}

.container > span{
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px lime;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.container > span:nth-child(2){
    animation-delay: 0.25s;
}

.container > span:nth-child(3){
    animation-delay: 0.5s;
}

.container > span:nth-child(4){
    animation-delay: 0.75s;
}

.container > span:nth-child(5){
    animation-delay: 1s;
}

.container > span:nth-child(6){
    animation-delay: 1.25s;
}

.container > span:nth-child(7){
    animation-delay: 1.50s;
}

.container > span:nth-child(8){
    animation-delay: 1.75s;
}

.container > span:nth-child(9){
    animation-delay: 2s;
}

.container > span:nth-child(10){
    animation-delay: 2.25s;
}

.container > span:nth-child(11){
    animation-delay: 2.50s;
}

.container > span:nth-child(12){
    animation-delay: 2.75s;
}

.container > span:nth-child(13){
    animation-delay: 3s;
}

.container > span:nth-child(14){
    animation-delay: 3.25s;
}

.container > span:nth-child(15){
    animation-delay: 3.50s;
}